body{
    background-size: auto;
    background-image: url("fon.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;     
}

#button{
    height: 9%;
    width: 45%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 105%;
    margin-bottom: 10px;
    display: block;
    position: relative;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input {
    height: 1px;
    box-sizing: border-box;
    text-align:center;
}

.youtube {
    background-color: rgb(173, 17, 17);
}

.vk {
    background-color: rgb(16, 50, 199);
}

.discord {
    background-color: rgb(65, 65, 65);
}

.telegram {
    background-color:rgb(58, 129, 161);
}

.textbutton {
    margin-left: 5px;
}
 
.logo {
    margin-right: 5px;
    height: 25px;
}
  
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}

#cherniryskii {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
  
#content-wrapper {
    background-color: rgba(0, 0, 0, 0.637);
    height: 650px;
    width: 35%;
    border-radius: 15px;
    position: relative;
}

h1{
    height: 3%;
    text-align:center;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', serif;

}

#photo {
    width: 25%;
    height: 25%;
    display:block;
    margin:auto;
    border-radius: 100%;
}



.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}